project_id         = "drwretail-bm"
compute_region     = "us-east4"
firestore_location = "nam7"
storage_bucket     = "drwretail-bm-migrated"

# Optional budget configuration.
billing_account_id = ""
project_number     = "50997156169"
monthly_budget_usd = 500
